.carousel-container {
  width: 100%;
  min-height: 300px;
  position: absolute;
  overflow-x: scroll;
  scrollbar-width: none;
}

.carousel-items-container {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
}

.carousel-item {
  height: auto;
  width: 180px;
  border-radius: 5px;
  padding: 8px;

  img {
    width: 100%;
  }

  a {
    display: block;
  }
}
